
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.IconClass{
  width: 30px;
  height: 30px;
  display: inline-block;
}

.IconClassContainer {
  background-color: #3c3c3c;
  border: 0px solid;
  padding: 8px 15px 8px 15px;
  cursor: url('./assets/DragonScimi.cur'),pointer !important;;
  display: inline-block;
  margin-top: 15px;
}
.IconClassContainer:active {
  cursor: url('./assets/hitsplat.cur'),pointer !important;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

body {
  width: 100%;
  height: 100%;
  background-color: #171717;
  cursor: url('./assets/DragonScimi.cur'),pointer !important;;
  color: #000;
  line-height: 1.4;
  position: relative;
  font-family: monospace !important;
  overflow-y: scroll;
}

body:active {
  cursor: url('./assets/zerosplat.cur'),pointer !important;;
}

.close_icon:active {
  cursor: url('./assets/hitsplat.cur'),pointer !important;
}

.personal_image {
  width: 200px;
  height: 200px; 
  float: left;
}
.version_container{
  flex-grow: 100;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 250px;
}
.starwars_version_button{
  margin:auto;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #1e1e1e;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 0 200px;
  text-align: center;
  background-color: #171717;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s
}
.starwars_version_button:active {
  cursor: url('./assets/hitsplat.cur'),pointer !important;
}
.normal_version_button{
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1e1e1e;
  margin:auto;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1 0 200px;
  background-color: #171717;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s
}
.normal_version_button:active {
  cursor: url('./assets/hitsplat.cur'),pointer !important;
}
@media screen and (max-width: 560px) {
  .normal_version_button{
    margin-top:20px;
  }
}

@media screen and (max-width: 520px) {
  .personal_image { 
    width: 100%; 
    height: 350px;
    display: none;
    object-fit:contain;
    padding:12px;
    padding-bottom: 0;
    margin-bottom: 20px;
    }
    .normal_version_button{
      margin-top: 20px;
    }
}

.personal_intro{
  display: inline-block;
  padding: 20px;
  padding-top: 0px;
  min-width: 250px;
  max-width: 100%;
  flex: 1;
  overflow-wrap: normal;
}

.personalContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.personalContainer2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
}

.container_about_me {
  width: 100%;
  font-size: 14px;
}

.togglecontainer {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  opacity: 0;
  padding-left: 30px;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 0.8s) forwards;
  padding-top: 20px;
  position: relative;
  padding-bottom: 5px;
}

.checkmarkbox {
  width: 70px;
  position: relative;
  display: inline-block;
}

.togglebox {
  width: 200px;
  position: relative;
  display: inline-block;
  top: 3px;
  font-family: monospace;
}

.lines {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 2.5px;
  z-index: -1;
  height: 100%;
  top: 0;
  left: 50%;
}
.line::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 5s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -40%;
}
.line:nth-child(2) {
  margin-left: -20%;
}
.line:nth-child(3) {
  margin-left: 40%;
}
.line:nth-child(4) {
  margin-left: 20%;
}
.line:nth-child(1)::after {
  animation-delay: 0.5s;
}
.line:nth-child(2)::after {
  animation-delay: 3.5s;
}
.line:nth-child(3)::after {
  animation-delay: 6s;
}
.line:nth-child(4)::after {
  animation-delay: 4.5s;
}
.line:nth-child(5)::after {
  animation-delay: 2s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

:root {
  --bg-color: #171717;
  --typewriterSpeed: 1.5s;
  --typewriterCharacters: 21;
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: monospace;
  position: relative;
  width: max-content;
  color: #fff;
}

h1::before,
h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: rgb(255, 255, 255);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(1rem, 1vw + 1rem, 4rem);
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 0.8s) forwards;
}

.subtitle2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(1rem, 1vw + 1rem, 4rem);
  font-weight: 600;
  margin-bottom: 10px;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

#mouse-scroll {
  margin: auto;
  width: 40px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 0.8s) forwards;
}
#mouse-scroll span{
  display: block;
  width: 25px; 
  height: 25px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff; 
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
  
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.center {
  color: white;
  text-align: center;
  padding-top: 100px;
  font-family: monospace;
}

.expanderContent{
  height:150px
}

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}
.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: 'Yesteryear', cursive !important;
  font-weight: 500;
  line-height: 1.1;
}
.cards {
  padding: 0px 15px 15px 15px;
  display: flex;
  flex-flow: row wrap;
}
.card:nth-child(1){
  opacity: 0;
  transform: translateY(8rem);
  animation: fadeInUp 0.5s ease calc(var(--typewriterSpeed) + 1s) forwards;
}
.card:nth-child(2){
  opacity: 0;
  transform: translateY(8rem);
  animation: fadeInUp 0.5s ease calc(var(--typewriterSpeed) + 1.2s) forwards;
}
.card:nth-child(3){
  opacity: 0;
  transform: translateY(8rem);
  animation: fadeInUp 0.5s ease calc(var(--typewriterSpeed) + 1.4s) forwards;
}
.card:nth-child(4){
  opacity: 0;
  transform: translateY(8rem);
  animation: fadeInUp 0.5s ease calc(var(--typewriterSpeed) + 1.6s) forwards;
}
.card {
  margin: 15px;
  z-index: 9999;
  width: calc((100% / 2) - 30px);
  transition: all 0.2s ease-in-out;

}

.card:hover .card__inner {
  background-color: #272727;
  transform: scale(1.05);
}
.card__inner {
  z-index: 9999;
  width: 100%;
  padding: 30px;
  position: relative;
  background-color: #171717;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:active{
  cursor: url('./assets/hitsplat.cur'),pointer !important;
}

.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  padding-left: 5px;
  margin-top: 0.25em;
}
.card__expander {
  transition: opacity 0.2s ease-in-out;
  background-color: #272727;
  width: 100%;
  position: relative;
  border: solid 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eceef1;
}
.card__expander .fa {
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 99999999;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card.is-expanded .card__inner {
  background-color: #2F4C39;
  z-index: 999;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "\f07c";
}
.card.is-expanded .card__expander {
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
  z-index: inherit;
}
.card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.card.is-inactive .card__inner {
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #272727;
  transform: scale(1);
}
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
    float: right;
  }
  .card:nth-of-type(2n+3) {
    clear: left;
    z-index: 9999999;
  }
  .card__expander {}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(38, 38, 38);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 17, 17);
}



@import url("https://kit.fontawesome.com/21457e6b79.js");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body2 {
  font-family: "Quicksand", sans-serif ;
  display: grid;
  place-items: center;
  height: 100vh;}
  
.container {
  opacity: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 3rem;
  padding: 10px;
}

img {
  max-width: 100%;
  display: block;
  max-height: 317px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@media screen and (max-width: 1200px) {
  .cardContent {
    width: 45%;
  }
  .card {
    width: calc((100% / 2) - 30px);
  }
  .card__expander {
    width: calc(200% + 30px);
  }
}

@media screen and (min-width: 1200px) {
  .cardContent {
    width: 45%;
  }
  .card {
    width: calc((100% / 2) - 30px);
  }
  .card__expander {
    width: calc(200% + 30px);
  }
}

@media screen and (max-width: 768px) {
  .cardContent {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card__expander {
    width:100%
  }
  .version_container{
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cardContent {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card__expander {
    width:100%
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border: solid 0px;
}



.card__body {
  display: flex;
  flex-direction: column;
  max-width:600px;
  margin: auto;
  background-color: #343434;
  border: solid 0px;
  margin-top: 0px;
  padding: 15px;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #4d8053;
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__title {
  font-size: 2rem;
  display: inline-block;
  padding-right: 8px;
}

.card__content {
  font-size: 15px;
}

.noselect {
  font-size: 26px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.shadow-lg{box-shadow:0 1rem 3rem rgba(0,0,0,0.175) !important}

.buttonResume{
  color: #fff;
  text-decoration: none;
  background-color: #171717;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #eceef1;
  padding: 10px;
}

/* The switch - the box around the slider */
.switch {
  z-index: 10000000;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: url('./assets/DragonScimi.cur'),pointer !important;;
}
.switch:active {
    cursor: url('./assets/hitsplat.cur'),pointer !important;
  }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2F4C39;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2F4C39;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.body_starwars {
  background-image: url("https://drive.google.com/uc?export=view&id=1bDLa3QCFyNx-Cs9bfJ4lSl4enaqELinD");
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 1200px;
} 

.first-text {
  text-align: center;
  margin:auto;
  padding: 10px;
  margin-top: 50px;
  max-width: 900px;
  font-family: Lato, Sans-serif;
  font-size: 3.5em;
  font-weight: 100;
  line-height: 1.5;
  color: #41b8ce;
  opacity: 0;
  animation: first-text 5s linear;
}

@keyframes first-text {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 1;
  }
}

.star-wars {
  position: absolute;
  margin:auto;
  max-height: 1000px;
  width: 100%;
  top: -30px;
  opacity: 0;
  animation: star-wars 13s linear 8.5s;
}

@keyframes star-wars {
  0%{
    opacity: 1;
  }
  20% {
    transform: scale(.8);
  }
  40% {
    transform: scale(.6);
  }
  60% {
    transform: scale(.4);
  }
  80% {
    transform: scale(.2);
  }
  100%{
    transform: scale(0);
    opacity: 1;
  }
}



.box-content h2 {
  text-align: center;
  font-size: 3em;
/*   margin-bottom: 80px; */
  font-weight: bold;
}

.box-content h3 {
  text-align: center;
  font-size: 3.5em;
}

.box-content p {
  text-align: justify;
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 80px;
  overflow:hidden
}

.box-content {
  top: -500px;
  position: relative;
  max-height: 1200px;
  margin:auto;
  width: 60%;
  color: #ffd54e;
  font-family: Allerta, Sans-serif;
  transform: perspective(800px) rotateX(60deg);
}

.content {
  opacity: 0;
  animation: box 60s linear 3.5s;  
  overflow:hidden
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {

  .first-text {
    font-size: 1.3em;
    width: 100%;
  }
  .body_starwars {
    max-height: 400px;
  } 
  .box-content {
    max-width: 220px;
    width: 60%;
    top:-150px;
    font-size: 12px;
    transform: perspective(800px) rotateX(60deg);
  }
  .content {
    animation: box 100s linear -11s;  
  } 
  .box-content h2 {
    font-size: 1em;
  }

  .box-content h3 {
    font-size: 1.6em;
  }

  .box-content p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 40px;
  }

}

@keyframes box{
  0% {
    opacity: 1;
    transform: translateY(1150px);
  }
  100% {
    opacity:1;
    transform: translateY(-2000px); 
  }
}

